@import '../../../assets/styles/main.scss';

.navbar{
  &__container{
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  &__list{
    list-style: none;
    padding: 0;
    justify-content: flex-start;
    
    &_items{
      margin-right: 50px;
      
      &_link{
        color: inherit;
        text-decoration: none;
        color: $white;
        font-weight: $veryLightWeight;
        cursor: pointer;
      }
    }
  }

  &__space{
    flex: 1
  }

  &__moreItems{
    flex: 2;
  }

  &__authenticationItems{
    flex: 1;
    justify-content: flex-end;

    &_list{
      
      &_item{
        margin: 0 20px;
        list-style: none;

        &_link{
          color: inherit;
          text-decoration: none;
          font-weight: $veryLightWeight;
          cursor: pointer;
        }
      }
    }
  }
}