@import '../../../assets/styles/main.scss';

.navbar{
  &__container{
    width: 80%;
    margin: 0 auto;
  }

  &__list{
    list-style: none;
    justify-content: center;
    
    &_items{
      margin-right: 50px;
    }
  }
}