$black: #151515;
$grey: rgb(34, 34, 34);
$lightGrey: rgb(236, 234, 234);
$darkWhite: rgb(211, 208, 208);
$grey: rgba(51,51,51,.6);
$white: #fff;
$red: rgb(186, 30, 30);
$yellow: #fff159;
$blue: #3483fa;