@import '../../assets/styles/main.scss';

.productShowcase{
  &__pictures{
    flex: 1;
    flex-direction: column;
    &_item{
      border: 1px solid #ccc;
      margin-bottom: 20%;
      max-width: 100px;
      max-height: 100px;
      cursor: pointer;
    }
  }

  &__purchaseButton{
    width: 200px;
  }

  &__bigImage{
    flex: 3;
    width: 100%;

    &_item{
      width: 90%;
      max-height: 300px;
    }

  }
}