@import '../../assets/styles/main.scss';

.lastVisitItems{

  &__list{

    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &_item{
      list-style: none;
      border: 1px solid #ccc;
      min-width: 150px;
      min-height: 100px;
      margin-right: 20px;
      color: $black;
    }
  }
}